# ImageKit credentials (server-side)
IMAGEKIT_PUBLIC_KEY=public_u3acF9B6lPlFoRqcawXcu4NsX0U=
IMAGEKIT_PRIVATE_KEY=private_2dvHyJRv0yXMONF+0w4wFuU7PNk=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/cfcpzpbp4
